PORT=3002

PG_ADMIN_EMAIL=xxxxxxxxxx
PG_ADMIN_PASSWORD=xxxxxxxxxx

DB_USER=xxxxxxxxxx
DB_PASS=xxxxxxxxxx
DB_HOST=xxxxxxxxxx
DB_PORT=5432
DB_NAME=xxxxxxxxxx

DATABASE_URL=postgresql://${DB_USER}:${DB_PASS}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=public
